{% extends 'GoogleForm/base.html' %}

{% block content %}
<div class="container">
    <div class="body-pane">
        <div class="center flex-column">
            <p class="no-colored pane-header-fontsize">Appendix C</p>
            <p class="colored pane-header-fontsize">ADDITIONAL BORROWER INFORMATION</p>
        </div>
<!--        borrower2-->
        <div class="lender-info">
            <div class="lender-pane">
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="borrower2-name" class="form-label-width">Borrower2 Name: </label>
                            <input type="text" id="borrower2-name" placeholder="Name" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="borrower2-address" class="form-label-width">Borrower2 Address: </label>
                            <input type="text" id="borrower2-address" placeholder="Street" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5 form-input">
                    <span>
                    Translator Required?
                    </span>

                    <div class="exhibit-yes-no">
                        <div style="margin-left: 5px">
                            <input type="checkbox" id="borrower2-translator-yes" name="multiple-lender2[]">
                            <label for="borrower2-translator-yes">Yes</label>
                        </div>

                        <div style="margin-left: 5px">
                            <input type="checkbox" id="borrower2-translator-no" name="multiple-lender2[]">
                            <label for="borrower2-translator-no">No</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lender-pane">
                <div class="margin-5 form-input">
                    <span>Borrower2 is</span>

                    <div class="exhibit-yes-no lender-right-select">
                        <div style="margin-left: 10px">
                            <input type="checkbox" id="borrower2-individual">
                            <label for="borrower2-individual">an Individual</label>
                        </div>
                        <div style="margin-left: 10px">
                            <input type="checkbox" id="borrower2-multi">
                            <label for="borrower2-multi" id="borrower2-multi-label">Choose an Entity</label>
                            <select id="borrower2-select">
                                <option>Choose an Item</option>
                                <option value="coporation">Corporation</option>
                                <option value="general_partnership">General Partnership</option>
                                <option value="joint_venture">Joint Venture</option>
                                <option value="limited_partnership">Limited Partnership</option>
                                <option value="llc">LLC</option>
                                <option value="partnership">Partnership</option>
                                <option value="trust">Trust</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="margin-5 borrower2-organized" style="margin-top: 20px">
                    <form>
                        <div class="form-group form-input">
                            <label for="borrower2-organized" class="lender-organized-label-width">Borrower was organized or incorporated in the State of </label>
                            <input type="text" id="borrower2-organized" placeholder="State" class="lender-organized-input-width">
                        </div>
                    </form>
                </div>

                <div class="margin-5 borrower2-individual-select" style="margin-top: 20px">
                    <label for="borrower2-individual-select" class="borrower2-select-label">Select Vesting</label>
                    <select id="borrower2-individual-select">
                        <option>Choose an Item</option>
                        <option value="coporation">A Single Man (never married)</option>
                        <option value="general_partnership">A single Woman (never married)</option>
                        <option value="joint_venture">An unmarried man (divorced)</option>
                        <option value="limited_partnership">An unmarried woman (divorced)</option>
                        <option value="llc">A widowed man</option>
                        <option value="partnership">A widowed woman</option>
                        <option value="trust">A married man as his sole and separate property</option>
                        <option value="trust">A married woman as her sole and separate property</option>
                        <option value="trust">husband and wife as joint tenants</option>
                        <option value="trust">husband and husband as joint tenants</option>
                        <option value="trust">wife and wife as joint tenants</option>
                        <option value="trust">husband and wife as tenants by the entirety</option>
                        <option value="trust">husband and husband as tenants by the entirety</option>
                        <option value="trust">wife and wife as tenants by the entirety</option>
                        <option value="trust">husband and wife as community property</option>
                        <option value="trust">husband and husband as community property</option>
                        <option value="trust">wife and wife as community property</option>
                        <option value="trust">As tenants in common</option>
                    </select>
                </div>
            </div>
        </div>

        <div style="border: 1px solid #444343; margin-top: 20px; margin-bottom: 20px"></div>

        <!--        borrower3-->
        <div class="lender-info">
            <div class="lender-pane">
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="borrower3-name" class="form-label-width">Borrower3 Name: </label>
                            <input type="text" id="borrower3-name" placeholder="Name" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="borrower3-address" class="form-label-width">Borrower3 Address: </label>
                            <input type="text" id="borrower3-address" placeholder="Street" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5 form-input">
                    <span>
                    Translator Required?
                    </span>

                    <div class="exhibit-yes-no">
                        <div style="margin-left: 5px">
                            <input type="checkbox" id="borrower3-translator-yes" name="multiple-lender2[]">
                            <label for="borrower3-translator-yes">Yes</label>
                        </div>

                        <div style="margin-left: 5px">
                            <input type="checkbox" id="borrower3-translator-no" name="multiple-lender2[]">
                            <label for="borrower3-translator-no">No</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lender-pane">
                <div class="margin-5 form-input">
                    <span>Borrower3 is</span>

                    <div class="exhibit-yes-no lender-right-select">
                        <div style="margin-left: 10px">
                            <input type="checkbox" id="borrower3-individual">
                            <label for="borrower3-individual">an Individual</label>
                        </div>
                        <div style="margin-left: 10px">
                            <input type="checkbox" id="borrower3-multi">
                            <label for="borrower3-multi" id="borrower3-multi-label">Choose an Entity</label>
                            <select id="borrower3-select">
                                <option>Choose an Item</option>
                                <option value="coporation">Corporation</option>
                                <option value="general_partnership">General Partnership</option>
                                <option value="joint_venture">Joint Venture</option>
                                <option value="limited_partnership">Limited Partnership</option>
                                <option value="llc">LLC</option>
                                <option value="partnership">Partnership</option>
                                <option value="trust">Trust</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="margin-5 borrower3-organized" style="margin-top: 20px">
                    <form>
                        <div class="form-group form-input">
                            <label for="borrower3-organized" class="lender-organized-label-width">Borrower3 was organized or incorporated in the State of </label>
                            <input type="text" id="borrower3-organized" placeholder="State" class="lender-organized-input-width">
                        </div>
                    </form>
                </div>

                <div class="margin-5 borrower3-individual-select" style="margin-top: 20px">
                    <label for="borrower3-individual-select" class="borrower3-select-label">Select Vesting</label>
                    <select id="borrower3-individual-select">
                        <option>Choose an Item</option>
                        <option value="coporation">A Single Man (never married)</option>
                        <option value="general_partnership">A single Woman (never married)</option>
                        <option value="joint_venture">An unmarried man (divorced)</option>
                        <option value="limited_partnership">An unmarried woman (divorced)</option>
                        <option value="llc">A widowed man</option>
                        <option value="partnership">A widowed woman</option>
                        <option value="trust">A married man as his sole and separate property</option>
                        <option value="trust">A married woman as her sole and separate property</option>
                        <option value="trust">husband and wife as joint tenants</option>
                        <option value="trust">husband and husband as joint tenants</option>
                        <option value="trust">wife and wife as joint tenants</option>
                        <option value="trust">husband and wife as tenants by the entirety</option>
                        <option value="trust">husband and husband as tenants by the entirety</option>
                        <option value="trust">wife and wife as tenants by the entirety</option>
                        <option value="trust">husband and wife as community property</option>
                        <option value="trust">husband and husband as community property</option>
                        <option value="trust">wife and wife as community property</option>
                        <option value="trust">As tenants in common</option>
                    </select>
                </div>
            </div>
        </div>

        <div style="border: 1px solid #444343; margin-top: 20px; margin-bottom: 20px"></div>

        <!--        borrower4-->
        <div class="lender-info">
            <div class="lender-pane">
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="borrower4-name" class="form-label-width">Borrower4 Name: </label>
                            <input type="text" id="borrower4-name" placeholder="Name" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="borrower4-address" class="form-label-width">Borrower4 Address: </label>
                            <input type="text" id="borrower4-address" placeholder="Street" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5 form-input">
                    <span>
                    Translator Required?
                    </span>

                    <div class="exhibit-yes-no">
                        <div style="margin-left: 5px">
                            <input type="checkbox" id="borrower4-translator-yes" name="multiple-lender2[]">
                            <label for="borrower4-translator-yes">Yes</label>
                        </div>

                        <div style="margin-left: 5px">
                            <input type="checkbox" id="borrower4-translator-no" name="multiple-lender2[]">
                            <label for="borrower4-translator-no">No</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lender-pane">
                <div class="margin-5 form-input">
                    <span>Borrower4 is</span>

                    <div class="exhibit-yes-no lender-right-select">
                        <div style="margin-left: 10px">
                            <input type="checkbox" id="borrower4-individual">
                            <label for="borrower4-individual">an Individual</label>
                        </div>
                        <div style="margin-left: 10px">
                            <input type="checkbox" id="borrower4-multi">
                            <label for="borrower4-multi" id="borrower4-multi-label">Choose an Entity</label>
                            <select id="borrower4-select">
                                <option>Choose an Item</option>
                                <option value="coporation">Corporation</option>
                                <option value="general_partnership">General Partnership</option>
                                <option value="joint_venture">Joint Venture</option>
                                <option value="limited_partnership">Limited Partnership</option>
                                <option value="llc">LLC</option>
                                <option value="partnership">Partnership</option>
                                <option value="trust">Trust</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="margin-5 borrower4-organized" style="margin-top: 20px">
                    <form>
                        <div class="form-group form-input">
                            <label for="borrower4-organized" class="lender-organized-label-width">Borrower4 was organized or incorporated in the State of </label>
                            <input type="text" id="borrower4-organized" placeholder="State" class="lender-organized-input-width">
                        </div>
                    </form>
                </div>

                <div class="margin-5 borrower4-individual-select" style="margin-top: 20px">
                    <label for="borrower4-individual-select" class="borrower4-select-label">Select Vesting</label>
                    <select id="borrower4-individual-select">
                        <option>Choose an Item</option>
                        <option value="coporation">A Single Man (never married)</option>
                        <option value="general_partnership">A single Woman (never married)</option>
                        <option value="joint_venture">An unmarried man (divorced)</option>
                        <option value="limited_partnership">An unmarried woman (divorced)</option>
                        <option value="llc">A widowed man</option>
                        <option value="partnership">A widowed woman</option>
                        <option value="trust">A married man as his sole and separate property</option>
                        <option value="trust">A married woman as her sole and separate property</option>
                        <option value="trust">husband and wife as joint tenants</option>
                        <option value="trust">husband and husband as joint tenants</option>
                        <option value="trust">wife and wife as joint tenants</option>
                        <option value="trust">husband and wife as tenants by the entirety</option>
                        <option value="trust">husband and husband as tenants by the entirety</option>
                        <option value="trust">wife and wife as tenants by the entirety</option>
                        <option value="trust">husband and wife as community property</option>
                        <option value="trust">husband and husband as community property</option>
                        <option value="trust">wife and wife as community property</option>
                        <option value="trust">As tenants in common</option>
                    </select>
                </div>
            </div>
        </div>

        <div style="border: 1px solid #444343; margin-top: 20px; margin-bottom: 20px"></div>

        <!--        borrower5-->
        <div class="lender-info">
            <div class="lender-pane">
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="borrower5-name" class="form-label-width">Borrower5 Name: </label>
                            <input type="text" id="borrower5-name" placeholder="Name" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="borrower5-address" class="form-label-width">Borrower5 Address: </label>
                            <input type="text" id="borrower5-address" placeholder="Street" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5 form-input">
                    <span>
                    Translator Required?
                    </span>

                    <div class="exhibit-yes-no">
                        <div style="margin-left: 5px">
                            <input type="checkbox" id="borrower5-translator-yes" name="multiple-lender2[]">
                            <label for="borrower5-translator-yes">Yes</label>
                        </div>

                        <div style="margin-left: 5px">
                            <input type="checkbox" id="borrower5-translator-no" name="multiple-lender2[]">
                            <label for="borrower5-translator-no">No</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lender-pane">
                <div class="margin-5 form-input">
                    <span>Borrower5 is</span>

                    <div class="exhibit-yes-no lender-right-select">
                        <div style="margin-left: 10px">
                            <input type="checkbox" id="borrower5-individual">
                            <label for="borrower5-individual">an Individual</label>
                        </div>
                        <div style="margin-left: 10px">
                            <input type="checkbox" id="borrower5-multi">
                            <label for="borrower5-multi" id="borrower5-multi-label">Choose an Entity</label>
                            <select id="borrower5-select">
                                <option>Choose an Item</option>
                                <option value="coporation">Corporation</option>
                                <option value="general_partnership">General Partnership</option>
                                <option value="joint_venture">Joint Venture</option>
                                <option value="limited_partnership">Limited Partnership</option>
                                <option value="llc">LLC</option>
                                <option value="partnership">Partnership</option>
                                <option value="trust">Trust</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="margin-5 borrower5-organized" style="margin-top: 20px">
                    <form>
                        <div class="form-group form-input">
                            <label for="borrower5-organized" class="lender-organized-label-width">Borrower5 was organized or incorporated in the State of </label>
                            <input type="text" id="borrower5-organized" placeholder="State" class="lender-organized-input-width">
                        </div>
                    </form>
                </div>

                <div class="margin-5 borrower5-individual-select" style="margin-top: 20px">
                    <label for="borrower5-individual-select" class="borrower5-select-label">Select Vesting</label>
                    <select id="borrower5-individual-select">
                        <option>Choose an Item</option>
                        <option value="coporation">A Single Man (never married)</option>
                        <option value="general_partnership">A single Woman (never married)</option>
                        <option value="joint_venture">An unmarried man (divorced)</option>
                        <option value="limited_partnership">An unmarried woman (divorced)</option>
                        <option value="llc">A widowed man</option>
                        <option value="partnership">A widowed woman</option>
                        <option value="trust">A married man as his sole and separate property</option>
                        <option value="trust">A married woman as her sole and separate property</option>
                        <option value="trust">husband and wife as joint tenants</option>
                        <option value="trust">husband and husband as joint tenants</option>
                        <option value="trust">wife and wife as joint tenants</option>
                        <option value="trust">husband and wife as tenants by the entirety</option>
                        <option value="trust">husband and husband as tenants by the entirety</option>
                        <option value="trust">wife and wife as tenants by the entirety</option>
                        <option value="trust">husband and wife as community property</option>
                        <option value="trust">husband and husband as community property</option>
                        <option value="trust">wife and wife as community property</option>
                        <option value="trust">As tenants in common</option>
                    </select>
                </div>
            </div>
        </div>

        <div style="border: 1px solid #444343; margin-top: 20px; margin-bottom: 20px"></div>
    </div>
</div>
{% endblock %}