{% extends 'GoogleForm/base.html' %}

{% block content %}
<div class="container">
    <div class="body-pane">
        <div class="center flex-column">
            <p class="no-colored pane-header-fontsize">Appendix E</p>
            <p class="colored pane-header-fontsize">ADDITIONAL PROPERTY INFORMATION</p>
        </div>

<!--        Property-->
        <div class="pane-header">
            <p class="colored">PROPERTY INFORMATION</p>
            <p class="no-colored">(Add more Properties on Appendix E)</p>
        </div>

        <div class="lender-info">
            <div class="lender-pane">
                <div class="margin-5" style="width: 100%">
                    <label for="property3-address">Property1's Address: </label>
                </div>
                <div class="margin-5" style="width: 100%">
                    <input type="text" id="property3-address" placeholder="Street" style="width: 95%">
                </div>
                <div class="margin-5" style="margin-top: 20px">
                    <form>
                        <div class="form-group form-input">
                            <div>
                                <input type="text" placeholder="City" id="property3-city" style="width: 100%">
                            </div>
                            <div class="form-input-3-divide">
                                <label for="property3-state" class="form-input-3-divide-label">State: </label>
                                <input type="text" placeholder="--" id="property3-state" class="form-input-3-divide-input">
                            </div>
                            <div class="form-input-3-divide">
                                <label for="property3-zip" class="form-input-3-divide-label">ZIP: </label>
                                <input type="text" placeholder="ZIP Code" id="property3-zip" class="form-input-3-divide-input">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="margin-5 form-input">
                    <span>
                    If Property 1 is residential, it it owner-occupied?
                    </span>

                    <div class="exhibit-yes-no">
                        <div style="margin-left: 5px">
                            <input type="checkbox" id="property3-yes" name="exhibit[]">
                            <label for="property3-yes">Yes</label>
                        </div>

                        <div style="margin-left: 5px">
                            <input type="checkbox" id="property3-no" name="exhibit[]">
                            <label for="property3-no">No</label>
                        </div>
                    </div>
                </div>
                <div class="margin-5" style="width: 100%; margin-top: 20px">
                    <label for="property3-lien">If the lien will be subordinate, which liens will remain on title?</label>
                </div>
                <div class="margin-5" style="width: 100%">
                    <input type="text" id="property3-lien" placeholder="Lien's on titles"style="width: 95%">
                </div>
                <div class="margin-5" style="margin-top: 20px">
                    <form>
                        <div class="form-group form-input">
                            <label for="property3-type" class="form-label-width">Property1's Type: </label>
                            <input type="text" placeholder="Type" id="property3-type" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="property3-priority" class="form-label-width">Property1 Priority </label>
                            <select id="property3-priority" class="form-input-width">
                                <option>Choose a lien position</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <div class="lender-pane">
                <div class="margin-5" style="width: 100%">
                    <label for="property4-address">Property1's Address: </label>
                </div>
                <div class="margin-5" style="width: 100%">
                    <input type="text" id="property4-address" placeholder="Street" style="width: 95%">
                </div>
                <div class="margin-5" style="margin-top: 20px">
                    <form>
                        <div class="form-group form-input">
                            <div>
                                <input type="text" placeholder="City" id="property4-city" style="width: 100%">
                            </div>
                            <div class="form-input-3-divide">
                                <label for="property4-state" class="form-input-3-divide-label">State: </label>
                                <input type="text" placeholder="--" id="property4-state" class="form-input-3-divide-input">
                            </div>
                            <div class="form-input-3-divide">
                                <label for="property4-zip" class="form-input-3-divide-label">ZIP: </label>
                                <input type="text" placeholder="ZIP Code" id="property4-zip" class="form-input-3-divide-input">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="margin-5 form-input">
                    <span>
                    If Property 1 is residential, it it owner-occupied?
                    </span>

                    <div class="exhibit-yes-no">
                        <div style="margin-left: 5px">
                            <input type="checkbox" id="property4-yes" name="exhibit[]">
                            <label for="property4-yes">Yes</label>
                        </div>

                        <div style="margin-left: 5px">
                            <input type="checkbox" id="property4-no" name="exhibit[]">
                            <label for="property4-no">No</label>
                        </div>
                    </div>
                </div>
                <div class="margin-5" style="width: 100%; margin-top: 20px">
                    <label for="property4-lien">If the lien will be subordinate, which liens will remain on title?</label>
                </div>
                <div class="margin-5" style="width: 100%">
                    <input type="text" id="property4-lien" placeholder="Lien's on titles"style="width: 95%">
                </div>
                <div class="margin-5" style="margin-top: 20px">
                    <form>
                        <div class="form-group form-input">
                            <label for="property4-type" class="form-label-width">Property1's Type: </label>
                            <input type="text" placeholder="Type" id="property4-type" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="property4-priority" class="form-label-width">Property1 Priority </label>
                            <select id="property4-priority" class="form-input-width">
                                <option>Choose a lien position</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}