{% extends 'GoogleForm/base.html' %}

{% block content %}
<div class="container">
    <div class="body-pane">
        <div class="center flex-column">
            <p class="no-colored pane-header-fontsize">Appendix D</p>
            <p class="colored pane-header-fontsize">ADDITIONAL GUARANTOR INFORMATION</p>
        </div>
<!--        Guarantor2-->

        <div class="lender-info">
            <div class="lender-pane">
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="guarantor2-name" class="form-label-width">Guarantor's Name: </label>
                            <input type="text" id="guarantor2-name" placeholder="Name" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="guarantor2-address" class="form-label-width">Guarantor's Address: </label>
                            <input type="text" id="guarantor2-address" placeholder="Street" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <div>
                                <input type="text" placeholder="City" id="guarantor2-city" style="width: 100%">
                            </div>
                            <div class="form-input-3-divide">
                                <label for="guarantor2-state" class="form-input-3-divide-label">State: </label>
                                <input type="text" placeholder="--" id="guarantor2-state" class="form-input-3-divide-input">
                            </div>
                            <div class="form-input-3-divide">
                                <label for="guarantor2-zip" class="form-input-3-divide-label">ZIP: </label>
                                <input type="text" placeholder="ZIP Code" id="guarantor2-zip" class="form-input-3-divide-input">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="lender-pane">
                <div class="margin-5 form-input">
                    <spn>Guarantor is</spn>

                    <div class="exhibit-yes-no lender-right-select">
                        <div style="margin-left: 10px">
                            <input type="checkbox" id="guarantor2-individual">
                            <label for="guarantor2-individual">an Individual</label>
                        </div>
                        <div style="margin-left: 10px">
                            <input type="checkbox" id="guarantor2-multi">
                            <label for="guarantor2-multi" id="guarantor2-multi-label">Choose an Entity</label>
                            <select id="guarantor2-select">
                                <option>Choose an Item</option>
                                <option value="coporation">Corporation</option>
                                <option value="general_partnership">General Partnership</option>
                                <option value="joint_venture">Joint Venture</option>
                                <option value="limited_partnership">Limited Partnership</option>
                                <option value="llc">LLC</option>
                                <option value="partnership">Partnership</option>
                                <option value="trust">Trust</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="margin-5 guarantor2-organized" style="margin-top: 20px">
                    <form>
                        <div class="form-group form-input">
                            <label for="guarantor2-organized" class="lender-organized-label-width">Guarantor was organized or incorporated in the State of </label>
                            <input type="text" id="guarantor2-organized" placeholder="State" class="lender-organized-input-width">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div style="border: 1px solid #444343; margin-top: 20px; margin-bottom: 20px"></div>

        <!--        Guarantor3-->
        <div class="lender-info">
            <div class="lender-pane">
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="guarantor3-name" class="form-label-width">Guarantor's Name: </label>
                            <input type="text" id="guarantor3-name" placeholder="Name" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="guarantor3-address" class="form-label-width">Guarantor's Address: </label>
                            <input type="text" id="guarantor3-address" placeholder="Street" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <div>
                                <input type="text" placeholder="City" id="guarantor3-city" style="width: 100%">
                            </div>
                            <div class="form-input-3-divide">
                                <label for="guarantor3-state" class="form-input-3-divide-label">State: </label>
                                <input type="text" placeholder="--" id="guarantor3-state" class="form-input-3-divide-input">
                            </div>
                            <div class="form-input-3-divide">
                                <label for="guarantor3-zip" class="form-input-3-divide-label">ZIP: </label>
                                <input type="text" placeholder="ZIP Code" id="guarantor3-zip" class="form-input-3-divide-input">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="lender-pane">
                <div class="margin-5 form-input">
                    <spn>Guarantor is</spn>

                    <div class="exhibit-yes-no lender-right-select">
                        <div style="margin-left: 10px">
                            <input type="checkbox" id="guarantor3-individual">
                            <label for="guarantor3-individual">an Individual</label>
                        </div>
                        <div style="margin-left: 10px">
                            <input type="checkbox" id="guarantor3-multi">
                            <label for="guarantor3-multi" id="guarantor3-multi-label">Choose an Entity</label>
                            <select id="guarantor3-select">
                                <option>Choose an Item</option>
                                <option value="coporation">Corporation</option>
                                <option value="general_partnership">General Partnership</option>
                                <option value="joint_venture">Joint Venture</option>
                                <option value="limited_partnership">Limited Partnership</option>
                                <option value="llc">LLC</option>
                                <option value="partnership">Partnership</option>
                                <option value="trust">Trust</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="margin-5 guarantor3-organized" style="margin-top: 20px">
                    <form>
                        <div class="form-group form-input">
                            <label for="guarantor3-organized" class="lender-organized-label-width">Guarantor was organized or incorporated in the State of </label>
                            <input type="text" id="guarantor3-organized" placeholder="State" class="lender-organized-input-width">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div style="border: 1px solid #444343; margin-top: 20px; margin-bottom: 20px"></div>

        <!--        Guarantor4-->
        <div class="lender-info">
            <div class="lender-pane">
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="guarantor4-name" class="form-label-width">Guarantor's Name: </label>
                            <input type="text" id="guarantor4-name" placeholder="Name" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <label for="guarantor4-address" class="form-label-width">Guarantor's Address: </label>
                            <input type="text" id="guarantor4-address" placeholder="Street" class="form-input-width">
                        </div>
                    </form>
                </div>
                <div class="margin-5">
                    <form>
                        <div class="form-group form-input">
                            <div>
                                <input type="text" placeholder="City" id="guarantor4-city" style="width: 100%">
                            </div>
                            <div class="form-input-3-divide">
                                <label for="guarantor4-state" class="form-input-3-divide-label">State: </label>
                                <input type="text" placeholder="--" id="guarantor4-state" class="form-input-3-divide-input">
                            </div>
                            <div class="form-input-3-divide">
                                <label for="guarantor4-zip" class="form-input-3-divide-label">ZIP: </label>
                                <input type="text" placeholder="ZIP Code" id="guarantor4-zip" class="form-input-3-divide-input">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="lender-pane">
                <div class="margin-5 form-input">
                    <spn>Guarantor is</spn>

                    <div class="exhibit-yes-no lender-right-select">
                        <div style="margin-left: 10px">
                            <input type="checkbox" id="guarantor4-individual">
                            <label for="guarantor4-individual">an Individual</label>
                        </div>
                        <div style="margin-left: 10px">
                            <input type="checkbox" id="guarantor4-multi">
                            <label for="guarantor4-multi" id="guarantor4-multi-label">Choose an Entity</label>
                            <select id="guarantor4-select">
                                <option>Choose an Item</option>
                                <option value="coporation">Corporation</option>
                                <option value="general_partnership">General Partnership</option>
                                <option value="joint_venture">Joint Venture</option>
                                <option value="limited_partnership">Limited Partnership</option>
                                <option value="llc">LLC</option>
                                <option value="partnership">Partnership</option>
                                <option value="trust">Trust</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="margin-5 guarantor4-organized" style="margin-top: 20px">
                    <form>
                        <div class="form-group form-input">
                            <label for="guarantor4-organized" class="lender-organized-label-width">Guarantor was organized or incorporated in the State of </label>
                            <input type="text" id="guarantor4-organized" placeholder="State" class="lender-organized-input-width">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div style="border: 1px solid #444343; margin-top: 20px; margin-bottom: 20px"></div>
    </div>
</div>
{% endblock %}