{% extends 'GoogleForm/base.html' %}

{% block content %}
    <div class="page-header form-header text-center">
        <h1>.</h1>
    </div>
    <form id="main" class="form-container" method="POST" action="{% if form %}/updateForm/{{ form.id }}/{% else %}/saveForm/{% endif %}">{% csrf_token %}
        <div class="row">
            <div class="col-sm-3 left-panel"></div>
            <div class="col-sm-6 mid-panel"  id="formContainer">
                <div class="row">
                    <div class="col-sm-12 formTitle">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="title" name="form_title" value="{% if form %}{{ form.form_title }}{% endif %}">
                            <label class="mdl-textfield__label" for="title">Give title to your form...</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 formDes">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="description" name="form_description" value="{% if form %}{{ form.form_description }}{% endif %}">
                            <label class="mdl-textfield__label" for="title">Form Description...</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 right-panel">
                {% if form %}
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4 rightBar">
                            <input class="btn btn-primary" type="submit" id="updateButton">
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4 rightBar">
                            <input class="btn btn-primary" type="submit" id="submitButton">
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4 rightBar">
                        <button class="btn btn-primary" type="button" id="cancelButton">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
   {% endblock %}
